.current-player{
    background-color: #5E97F6;
    color: #FFFFFF;
}

.spoiled-player{
    background-color: #E0E0E0;
}

.md-card-title{
    padding: 5px !important;
}

.roundButton{
    width: 150px;
    height: 80px;
}